{% extends "customer/base.html" %}

{% block content %}






<h1 class="p-4">Medicine List</h1>

{% if medic %}

<div class="chi2 mb-5">

   
    <div class="row">
      
       <div class="col-xs-12  col-sm-12 col-lg-12 mb-5 p-5">

        <div class="list_box">
          {% for med in medic %}
          <div class="row">
            <div class="col-7">
              <h4> &#8226; Medic Name : <span style="font-weight:400;" class="text-success"> {{ med.med_name}}</span></h4>
              <h5>Rs : <span style="font-weight:400;"  class="text-success"> {{ med.med_price }} </span></h5>
              <br><br>
            </div>
            <div class="col-5">
               <a href="{% url 'edit_del_link' pk=med.id %}" class="text-light"><button type="button" class="btn btn-warning">Edit Medic</button></a>
               <a href="{% url 'del_med_link' pk=med.id %}" class="text-light"><button type="button" class="btn btn-danger">Delete Medic</button></a>
            </div>
          </div>
          
          {% endfor %}  
          <a href="{% url 'add_med_link' %}" class="text-light m-5"><button type="button" class="btn btn-success">Add Medic</button></a>
        </div>
       
        </div>
       

       

    </div>
    


{% else %}
<div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="list_box">
        <h4 class="text-danger">No Medic Found</h4>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <a href="{% url 'add_med_link' %}" class="text-light"><button type="button" class="btn btn-success">Add Medic</button></a>
   </div>
</div>

   
  
 

{% endif %}

</div>


{% endblock %}
